<h3>Trainer Status</h3>
<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell" style="width: 20%;">
        <div class="list-group">
          <a class="list-group-item list-group-item-action active">
            Model Trainer
          </a>
          <table style="width:100%">
            <tr>
            <th>ActionName</th>
              <td>Trainer</td>
            </tr>
            <tr>
              <th>Protocol</th>
              <td>trainer_19f255c4-634e-4d40-9566-fed76b53a0c3</td>
            </tr>
            <tr>
              <th>Status</th>
              <td>Finished</td>
            </tr>
            <tr>
              <th>Datetime</th>
              <td>08/01/2018 15:02:35</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>