<div class="row">
  <div class="col-xs-offset-1 col-xs-8">
    <h3>Predictor (<a href="http://localhost:8000/docs/">http://localhost:8000/docs/</a>)</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-1 col-xs-8">
    <form (submit)="submitPredictor($event)">
      <div class="form-group">
       <input type="text" class="form-control" placeholder="Prediction Message..." aria-describedby="basic-addon1">
     </div>
     <div class="row">
      <div class="col-xs-1">
       <button type="submit" class="btn btn-primary">Predict</button>
     </div>
      <div class="col-xs-offset-1 col-xs-1">
       <a class="btn btn-primary" href="/home">Home</a>
     </div>
     </div>
   </form>
   <p></p>
   <p></p>
 </div>
</div>
<div class="row">
  <div class="col-xs-offset-1 col-xs-8">
   <div class="form-group">
     <label>Prediction result:</label>
     <h2><strong>{{ predicted | uppercase }}</strong></h2>
   </div>
   <p></p>
   <p></p>
 </div>
</div>