<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Welcome to {{ title }}!
  </h2>
  <img width="400" alt="Angular Logo" src="https://images-americanas.b2w.io/img/_staging/marvin/marvin.png">
</div>

<app-login></app-login>

<h4>Know ours repos: </h4>
<ul>
  <li>
    <h5>Marvin AI - <a target="_blank" rel="noopener" href="https://github.com/marvin-ai">https://github.com/marvin-ai</a></h5>
  </li>
  <li>
    <h5>Marvin Engine Executor - <a target="_blank" rel="noopener" href="https://github.com/marvin-ai/marvin-engine-executor">https://github.com/marvin-ai/marvin-engine-executor</a></h5>
  </li>
  <li>
    <h5>Marvin AutoML Engine - <a target="_blank" rel="noopener" href="https://github.com/marvin-ai/marvin-automl-engine">https://github.com/marvin-ai/marvin-automl-engine</a></h5>
  </li>
</ul>

