<h3>Welcome !</h3>
<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell" style="width: 20%;">
        <div class="list-group">
          <a class="list-group-item list-group-item-action active">
            menu
          </a>
          <a class="list-group-item list-group-item-action">profile</a>
          <a href="/trainer" class="list-group-item list-group-item-action">models</a>
          <a href="/acquisitor" class="list-group-item list-group-item-action">create new model</a>
          <p></p>
          <a href="#" class="list-group-item list-group-item-action">logoff</a>
        </div>
      </div>
    </div>
  </div>
</div>